@import "../../App.scss";
.container {
  position: relative;
  min-height: 95vh;
  max-width: 1120px;
  margin: auto;
  .projectTitle {
    font-size: 2.5em;
    color: $primary-color-blue;
    text-align: center;
    padding-top: 20px;
  }
  .underline {
    margin: 10px auto;
    padding: 0;
  }
  .summary {
    margin: 0.5em 0 0;
    color: $primary-color-blue;
    font-size: 1.2em;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .left {
      padding: 0 1em;
      text-align: center;
    }
    .right {
      display: flex;
      flex-direction: column;
      padding: 0 1em;
      max-width: 720px;
      h2 {
        text-align: left;
        font-size: 2em;
        color: $primary-color-blue;
        margin: 0.5em 0;
      }

      h3 {
        color: $primary-color-blue;
        margin: 0.8em 0;
      }
      .technologies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 25px;
        .technology {
          background: $primary-color-blue;
          padding: 0.2em 0.8em;
          margin: 0.2em 0.3em;
          min-width: 60px;
          font-size: 0.9em;
          border: 2px solid $primary-color-blue;
          color: white;
          text-transform: lowercase;
          font-weight: bold;
        }
      }
      li {
        color: $primary-color-blue;
        margin-left: 1em;
      }
    }
  }

}
.image-container {
  min-width: 280px;
  max-width: 560px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
  rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 40px;
  }
  img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}