@import "../../App.scss";
.contactform {
  background: $primary-color-green;
  text-align: center;
  min-height: 95vh;
  max-width: 1120px;
  padding-bottom: 40px;
  .contact {
    color: $primary-color-blue;
    text-align: center;

    ul > li {
      list-style-type: none;
      display: flex;
      padding: 5px;
      justify-content: center;
      align-items: center;
    }
    svg {
      height: 24px;
      line-height: 0;
    }
    span,
    input {
      margin: 0 0 0 10px;
      cursor: default;
    }
    input {
      border: none;
      color: $primary-color-blue;
      font-size: 17px;
      pointer-events: none;
      padding: 0;
      background: transparent;
      outline: none;
      width: 180px;
      &::-moz-selection {
        background: none;
      }
      &::selection {
        background: none;
      }
      &:active {
        border: none;
        outline: none;
      }
    }
    button {
      width: 60px;
      border: 2px solid gray;
      border-radius: 5px;
    }
  }
  .contact-title {
    padding-top: 4%;
    font-size: 2.5em;
    color: $primary-color-blue;
    margin: 1vh auto;
  }
  form {
    margin: auto;
    padding: 1.5em;
    input,
    textarea {
      display: block;
      max-width: 420px;
      min-width: 300px;
      width: 100%;
      padding: 0.8em;
      margin: 0 auto 0.4em;
      color: $primary-color-blue;
      outline: none;
      font-weight: bold;
      font-size: 15px;
      border-radius: 0px;
      border: 1px solid rgb(185, 185, 185);
      box-shadow: none !important;
      &:focus{
        border: 1px solid $primary-color-blue;
      }
      &::placeholder {
        color: rgb(170, 170, 170);
      }
    }
    input,
    button {
      height: 50px;
    }
    textarea {
      min-height: 150px;
    }
    .inputError {
      border: 4px solid $accent;
    }
    .form-btn {
      border: 2px solid $primary-color-blue;
      font-size: 15px;
      font-weight: bold;
      background: $primary-color-blue;
      border-radius: 10px;
      color: white;
      padding: 0 25px;
      transition: all 0.3s ease;
      outline: none;
      cursor: pointer;
      &:hover {
        transform: scale(0.99);
      }
    }

    .btn--update{
      margin: 5px 0;
    }
  }

  .error,
  .success {
    color: white;
    padding: 10px 0;
    max-width: 420px;
    margin: auto;
    height: fit-content;
    font-size: 14px;
  }
  .error {
    background: orangered;
  }
  .success {
    background: $primary-color-blue;
  }
}
