@import "../../App.scss";
.navbar {
  height: 8vh;
  position: fixed;
  z-index: 2;
  width: 100%;
  background: whitesmoke !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.3s all ease;
}

.links {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1120px;
  margin: auto;
  img {
    display: none;
  }
}

.nav-link {
  padding: 0px 1em;
  margin: 0px auto;
  outline: none;
  font-weight: 900;
  font-size: 20px;
  color: $primary-color-blue;
  padding: 0.8em 0.8em;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none;

  &::after {
    content: "";
    width: 0%;
    display: block;
    border-bottom: solid 2px $accent;
    transition: all 0.3s ease;
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.link-active {
  &::after {
    width: 100%;
  }
}

.navbar-filler {
  padding-top: 50px;
  height: 8vh;
}

.at-top {
  height: 10vh;
  background-color: transparent;
  box-shadow: none;
}

.sidebar {
  display: none;
}

@keyframes slideIn {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100vw;
  }
}
@keyframes slideOut {
  from {
    opacity: 1;
    width: 100vw;
  }
  to {
    opacity: 0;
    width: 0;
  }
}

@media all and (max-width: 640px) {
  .links {
    img {
      display: block;
      height: 100%;
      width: 100%;
      max-height: 32px;
      max-width: 40px;
      margin: 0 20px;
      cursor: pointer;
    }
  }

  .navbar {
    box-shadow: none;
  }
  .nav-link {
    display: none;
  }

  .sidebar {
    height: 100vh;
    width: 0;
    z-index: 1;
    position: fixed;
    top: 8vh;
    display: block;
    overflow: hidden;
    will-change: opacity, width;
    background: rgba(0, 0, 0, 0.68);
  }
  .sidebar-content {
    height: 100vh;
    background: whitesmoke;
    width: 50%;
    position: relative;
    ul {
      display: flex;
      flex-direction: column;
    }
    span {
      color: rgb(155, 155, 155);
      top: 80vh;
      position: absolute;
      align-self: center;
    }
  }

  .side-link {
    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 10px 0;
    border-bottom: 2px solid rgb(185, 185, 185);
    color: $primary-color-blue;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    &::after {
      content: "";
      width: 0%;
      display: block;
      border-bottom: solid 2px $accent;
    }
  }

  .link-active {
    &::after {
      width: 100%;
    }
  }

  .slidein {
    width: 100vw;
    opacity: 1;
    animation: slideIn 0.3s;
  }

  .slideout {
    width: 0px;
    animation: slideOut 0.1s;
  }
}
