@import "../../App.scss";

.footer {
  height: 8vh;
  background: $primary-color-blue;
  position: relative;
  &::after {
    content: "@ BINISH 2020";
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%);
  }
}
