@import "../../App.scss";

.modal {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  left: 0;
  background-color: #00000075;
  z-index: 2;
  box-shadow: 1px 1px 12px 2px gray;
  animation: fadein 0.3s;
  overflow-y: scroll;
  overflow-x: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.modal-content {
  width: 95%;
  max-width: 1020px;
  height: fit-content;
  margin: 0 auto;
  background: white;
  position: relative;
}

.back-btn {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  z-index: 3;
  cursor: pointer;
  text-align: center;
  top: 5%;
  left: 3%;
  img {
    width: 100%;
    height: 100%;
  }
}

@media all and (min-width: 768px) {
  .back-btn {
    height: 45px;
    width: 22px;
  }
}

@media all and (min-width: 400px) and (max-width: 768px) {
  .back-btn {
    height: 40px;
    width: 20px;
  }
}

@media all and (max-width: 400px) {
  .back-btn {
    height: 30px;
    width: 15px;
  }
}
